.room-select-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.room-select-i-phone142 {
  width: 396px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.room-select-component1 {
  top: 235px;
  left: 20px;
  width: 160px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.room-select-navlink {
  display: contents;
}
.room-select-room-rectangle {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 80px;
  position: absolute;
  text-decoration: none;
}
.room-select-text {
  top: 30px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.room-select-component2 {
  top: 235px;
  left: 200px;
  width: 160px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.room-select-navlink1 {
  display: contents;
}
.room-select-room-rectangle1 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 80px;
  position: absolute;
  text-decoration: none;
}
.room-select-text02 {
  top: 30px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.room-select-component3 {
  top: 135px;
  left: 23px;
  width: 160px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.room-select-navlink2 {
  display: contents;
}
.room-select-room-rectangle2 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 80px;
  position: absolute;
  text-decoration: none;
}
.room-select-text04 {
  top: 30px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.room-select-kitchen {
  top: 135px;
  left: 200px;
  width: 160px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.room-select-navlink3 {
  display: contents;
}
.room-select-room-rectangle3 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 80px;
  position: absolute;
  text-decoration: none;
}
.room-select-text06 {
  top: 30px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.room-select-back-arrow {
  top: 20px;
  left: 40px;
  width: 17px;
  height: 1px;
  position: absolute;
}
.room-select-navlink4 {
  display: contents;
}
.room-select-image1 {
  top: 591px;
  left: 0px;
  right: 0px;
  width: 63px;
  height: 44px;
  margin: auto;
  position: absolute;
  text-decoration: none;
}
.room-select-button {
  width: 130px;
  height: 55px;
  align-self: center;
  text-align: center;
  padding-left: 0px;
  background-color: rgb(217, 217, 217);
}
.room-select-text08 {
  text-align: center;
}
